.feedback_button {
  position:fixed;
  right:0px;
  bottom: 40px;
  z-index: 20000;
  cursor:pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #ffffff;
  padding: 6px 6px;
  background: -moz-linear-gradient(
		top,
		#0091ff 0%,
		#020b14);
  background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0091ff),
		to(#020b14));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0091ff', endColorstr='#020b14'); /*For IE Only*/
  border-radius: 6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:
  	-1px 1px 7px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(005,000,005,0.5);
  -webkit-box-shadow:
		-1px 1px 7px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(005,000,005,0.5);
  box-shadow:
		-1px 1px 7px rgba(000,000,000,0.3),
		inset 0px 0px 1px rgba(005,000,005,0.5);
  text-shadow:
		0px -1px 0px rgba(033,027,033,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.highlighted_region {
  display:block;
  position:fixed;
}

.blackout_region {
  position:fixed;
  display:block;
  background-color:black;
}

.notes {
  position: fixed;
  display:block;
  background-color: white;
  width: 150px;
  height:108px;
  z-index:100000000001;
  background-image: url(image/pin.png);
  background-repeat:no-repeat;
}

.notes textarea {
  position: relative;
  top: 10px;
  height: 98px;
  width: 150px;
  overflow:hidden;
  background-color: transparent;
  outline: none;
  border: solid 0px white;
  resize:none;
}

.cross {
  position:fixed;
  background-image:url(image/cross.png);
  background-repeat: no-repeat;
  display:none;
  width:30px;
  height: 30px;
  z-index: 100000000004;
  cursor: pointer;
}

.glass {
  z-index:99997;
  background-color: black;
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  width:100%;
  opacity: 0.3;
}

.feedback_form {
  z-index:9998889998;
  color: black;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  padding: 40px;
  padding-top: 25px;
  position: fixed;
  background-color: white;
  width: 30%;
  right: 33%;
  height: 35%;
  bottom: 35%;
  opacity: 1.0;
  border: solid 1px #666;
}

#screenshot_preview {
  width: 100%;
  height: 35%;
}

.feedback_canvas_container {
  z-index: 99999;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

.feedback_canvas {
  position:absolute;
  top:0px;
  left:0px;
  border: 0px solid black;
}

/* Styles for feedback report page */

#feedback-reloaded-filter-form div.form-checkboxes div.form-type-checkbox {
  display: block;
}

#feedback-reloaded-filter-form div.form-type-checkboxes {
  float: left;
  margin-right: 20px;
}

#feedback-reloaded-filter-form input.form-submit {
  margin-left: 20px;
}


.feedback-reloaded-active {
  overflow:hidden;
}
.feedback-reloaded-library-html2canvas.feedback-reloaded-active {
  overflow:auto;
}

.feedback-reloaded-library-html2canvas .highlighted_region,
.feedback-reloaded-library-html2canvas .blackout_region,
.feedback-reloaded-library-html2canvas .notes,
.feedback-reloaded-library-html2canvas .cross {
  position:absolute;
}